iframe {
        display: block;
        clear: both;
        position: relative;
        margin-bottom: 2px;
    }
.overlay {
    padding:10px;
    display: block;
    clear: both;
    position: absolute;
    height: 80px;
    width: 100%;
    background-color: #BADA55;
    z-index: 2;
    margin-bottom:5px;
    box-sizing: border-box;
}

.overlay .trackArtist {
    float:left;
    clear:both;
    font-style: italic;

}

.overlay .trackName {
    float:left;
    font-weight: 600;
}

.overlay .timer {
    position:relative;
    float:right;
    margin-right:20px;
}